.jumbotron{
    margin-bottom: 0 !important;
    text-align: center;
}
.container-fluid{
    text-align: center;
}
.fas{
    display:block;
    height:10px;
    width:10px;
}
.mb-3{
    margin-right: 5px ;
}
.btn{
    margin-bottom: 16px !important;
}
.row{
    width:100%;
}
input[type="radio"]{
    height:15px !important;
    width:15px !important;
    margin-left:5px;
}
label{
    font-size: 20px;
}
button{
    width:130px;
}
